:root {
    --main-bg-color: #1B1548;
    --panel-bg-color: #1B215A;

    --heading-color: #7BFBFE;
    --heading-color-hover: #009999;

    --text-color: #FBFFC2;
    --text-color-hover: var(--heading-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
}

a {
    color: #FBFFC2;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--heading-color);

}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper {
    display: flex;
    min-height: calc(100vh - 40px);
    margin: 20px 0;
}

.with-lines {
    width: 100%;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background-color: var(--text-color);
}

.separetor {
    margin: 10px 0;
    height: 2px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.7;
}

.with-lines .content {
    width: 100%;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

/* Navbar*/
#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding: 0;
    margin: 30px 0;
    height: calc(100vh - 40px - 60px);
    background-color: var(--panel-bg-color);
}

#navbar li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#navbar a {
    color: var(--heading-color);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: color 150ms ease-out;
}

#navbar a:hover {
    color: var(--heading-color-hover);
}

/* Main photo */
.main-photo {
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 100%;
    flex: 15;
}


.main-photo img {
    width: 100%;
    height: calc(100vh - 40px);
    object-fit: cover;
}

.main-photo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 2;

}

.main-photo-info h1 {
    color: var(--text-color);
    font-size: 30px;
    margin: 10px;
}

.main-photo-info h3 {
    color: var(--text-color);
    font-weight: 600;
    font-style: italic;
    margin-top: 10px;
}

/* Resume content*/
.resume {
    flex: 15;
    padding: 0 30px;
    margin: 30px 0;
    background-color: var(--panel-bg-color);
    height: calc(100vh - 40px - 60px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.resume>div:first-child {
    padding-top: 20px;
    margin-top: 0;
}

.resume-item {
    position: relative;
    padding: 10px 0;
}

.resume-item>* {
    margin-top: 0;
}

.resume-item > h2 {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 10px 0;      
    background-color: var(--panel-bg-color);
}

.resume-portfolio ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
}

.resume-portfolio li {
    width: calc(50% - 12px);
    margin: 5px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.resume-portfolio a {
    display: block;
    padding: 5px;
    text-decoration: none;
    transition: background-color 150ms ease-in;
}

.resume-portfolio a:hover {
    background-color: var(--panel-bg-color);
}